# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Turborepo
.turbo/

# Env
.env
.env*.local
!.env.example

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
playwright-report/
test-results/

# Vercel
.vercel
